Redirect 301 /fr/~bbs /~bbs/
Redirect 301 /groups https://mmn.groups.io
Redirect 301 /fr/groups https://mmn.groups.io
Redirect 301 /2019/ https://mmn.lgbt/2019/
Redirect 301 /2020/ https://mmn.lgbt/2020/
Redirect 301 /archive/ https://mmn.lgbt/archive/
Redirect 301 /uploads/ https://mmn.lgbt/uploads/
Redirect 301 /photos https://mmn.lgbt/photos
Redirect 301 /microblog https://mmn.lgbt
Redirect 301 /fr/microblog https://mmn.lgbt
Redirect 301 /feed/ https://www2.mmn.on.ca/index.xml
Redirect 301 /bbs /~bbs
Redirect 301 /ca/groups https://mmn.groups.io
Redirect 301 /ca/microblog https://mmn.lgbt
Redirect 301 /ca/~bbs /~bbs/
Redirect 301 /public/default.wct https://oh.mg/about/
Redirect 301 /posts/ https://www2.mmn.on.ca/posts/
Redirect 301 /contact/ https://oh.mg/i/
Redirect 301 /gopher/ https://oh.mg/gopher/
Redirect 301 /about/ https://oh.mg/about/
Redirect 301 /tags/ https://www2.mmn.on.ca/tags/
Redirect 301 /categories/ https://www2.mmn.on.ca/categories/
Redirect 301 /about https://oh.mg/about/
Redirect 302 /css/ https://www2.mmn.on.ca/css/
Redirect 302 /images/ https://www2.mmn.on.ca/images/
